# Aliases are defined here

# some ls aliases
alias ls='ls -GwF'
alias ll='ls -alF'
alias la='ls -A'
alias lah='ls -lah'
alias l='ls -CF'

# general aliases
alias zshrc='code ~/.zshrc'
alias bashrc='code ~/.bashrc'
alias gitconfig='code ~/.gitconfig'

# some git aliases
alias gcm='git checkout master'
alias gi='git init'
alias gch='git checkout'
alias gc='git commit -m'
alias gd='git diff'
alias gst='git stash'
alias gsp='git stash pop'
alias gl='git log'
alias grl='git reflog'
alias gs='git status'
alias ga='git add'
alias gb='git branch'
alias gp='git push'
alias gpforce='git push --force-with-lease'
alias gamend='git commit --amend'
alias gtree='git log --all --graph --decorate --oneline --simplify-by-decoration'

# some rails aliases
alias r='rails'
alias rs='rails s'
alias rc='rails c'
alias rg='rails g'
alias frs='foreman run rails s -p 5000'
alias frc='foreman run rails c'
